.h2 {
    text-align: center;
    margin-top: 5% !important;
    background: #2196f3;
    color: whitesmoke !important;
    padding: 1.5em;
    border-top-right-radius: 0.3em;
    border-top-left-radius: 0.3em;
}

.devise-container {
    margin-left: 38%;
    margin-top: 5%;
    width: 30%;
    border-radius: 0.7em !important;
    background: #4a4a4a;
}

.form-control{
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
	width: 85% !important;
}

.btn-success{
	margin: 2em;
    width: 59%;
    margin-left: 6em;
    margin-bottom: 2em !important;
}

.forget{
	margin-left: 38%;
}
body{
	background-color: #4a4a4a;
}